* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track{
    width: 0;
}

*::-webkit-scrollbar-thumb {
    background: #00AEEC;
    border-radius: 10px;
    background-image: linear-gradient(
        -45deg,
        transparent,
        transparent 20%,
        #F85A54 20%,
        #F85A54 40%,
        #FF7F24 40%,
        #FF7F24 60%,
        #F85A54 60%,
        #F85A54 80%,
        transparent 80%,
        transparent
    );
}

a {
    text-decoration: none;
    color: inherit;
}


@import 'transition.scss';