* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track{
    width: 0;
}

*::-webkit-scrollbar-thumb {
    background: #994800;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
        -45deg,
        transparent,
        transparent 10%,
        #e56c00 10%,
        #e56c00 20%,
        #fbc08d 20%,
        #fbc08d 30%,
        transparent 30%,
        transparent 40%,
        #e56c00 40%,
        #e56c00 50%,
        #fbc08d 50%,
        #fbc08d 60%,
        transparent 60%,
        transparent 70%,
        #e56c00 70%,
        #e56c00 80%,
        #fbc08d 80%,
        #fbc08d 90%,
        transparent 90%,
        transparent
    );
}

a {
    text-decoration: none;
    color: inherit;
}
